#wrapper {
  margin-bottom: 4em; /* so that fixed footer doesn't overlap */
}

/* counting buttons for desktop input */
.counter-items .btn-group {
  float: right;
}

/* timer */
#time {
  display: inline;
}
#ptimer {
  display: none;
}
#total-rounds {
  display: inline;
}
#remaining-rounds {
  display: none;
}

/* control buttons */
#controls input, #controls label {
  margin-top: 0;
  margin-bottom: 0;
}
